body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.page {
    height: 1000px;
}
h1 {
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
